/* style */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#shopping-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#shopping-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#shopping-list li:last-child {
    border-bottom: none;
}

.purchased {
    text-decoration: line-through;
    background-color: #ccc;
}

.purchased:hover {
    background-color: #aaa;
}